<h1>Home</h1>
<h2>Pasos para crear un nuevo proyecto</h2>
<ol>
    <li>Se crea la estructura interna del proyecto con las carpetas "Resources", con "CSS", "IMG", etc, "Model", "Service", "Controller", etc; además del index.html</li>
    <li>Crear el package.json y el tsconfig.json, comprobando y modificando las devDependencies y otros datos segun las necesidades</li>
    <li>Instalar las dependencias requeridas usando el comando de la terminal: <code>npm i</code></li>
    <li>Configurar el app.ts y ejecutar la app con el comando: <code>npm run start</code> y la compilacion de tareas <code>tsc.seguir</code></li>
    <li>Se añaden los scripts al index.html</li>
    <li>Se comprueba que la aplicacion funciona correctamente</li>
</ol>