<h1>{{vm.titulo}}</h1>
<hr>
<h2>Pokemons:</h2>
<p>Tenemos {{vm.pokedex.count}} de pokemons</p>
<hr>
<!-- Filtros -->
<p>   
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filtros
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Nombre: <input type="search" class="form-control" ng-model="filtro.name" placeholder="Escriba el pokemon...">   
    </div>
</div>
<div class="row">
    <div class="col-3 lineaV">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" ng-click="campo='name'; orden= !orden">Pokemon</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pokedex in vm.pokedex.results | filter: filtro | orderBy:campo:orden">
                    <th scope="col">{{pokedex.name| uppercase}}</th>
                    <td>
                        <input type="submit" class="btn btn-success" value="Buscame" ng-click="vm.detallar(pokedex.name)">
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-8" ng-if="vm.pokemon">
        <div class="row">
            <div class="col-6">
                <h3>{{vm.pokemon.name | uppercase}}</h3>
            </div>
            <div class="col-3">
                <h4>{{vm.pokemon.base_experience}} EXP</h4>
            </div>
            <div class="col-3">
                <p>Tipo de PoKemon:</p>
                <ul>
                    <li ng-repeat="tipo in vm.pokemon.types">{{tipo.type.name}}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <div class="card" ng-if="vm.pokemon.sprites.front_default">
                    <div class="card-header">
                        Macho:
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <img ng-src="{{vm.pokemon.sprites.front_default}}" width="150"
                            alt="{{vm.pokemon.name}}">
                            <img ng-src="{{vm.pokemon.sprites.back_default}}" width="150"
                            alt="{{vm.pokemon.name}}">
                            <img ng-src="{{vm.pokemon.sprites.front_shiny}}" width="150"
                            alt="{{vm.pokemon.name}}">
                            <img ng-src="{{vm.pokemon.sprites.back_shiny}}" width="150"
                            alt="{{vm.pokemon.name}}">
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" ng-if="vm.pokemon.sprites.front_female">
                    <div class="card-header">
                        Hembra:
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <img ng-src="{{vm.pokemon.sprites.front_female}}" width="150" 
                            alt="{{vm.pokemon.name}}">
                            <img ng-src="{{vm.pokemon.sprites.back_female}}" width="150" 
                            alt="{{vm.pokemon.name}}">
                            <img ng-src="{{vm.pokemon.sprites.front_shiny_female}}" width="150" 
                            alt="{{vm.pokemon.name}}">
                            <img ng-src="{{vm.pokemon.sprites.back_shiny_female}}" width="150" 
                            alt="{{vm.pokemon.name}}">
                        </blockquote>
                    </div>
                </div>
            </div> 
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Caracteristicas</h3>
                <p><b>Especie:</b> {{vm.pokemon.species.name}}</p>
                <p><b>Peso:</b> {{vm.pokemon.weight}}</p>
                <p><b>Altura:</b> {{vm.pokemon.height}}</p>
            </div>
            <div class="col">
                <h3>Habilidades:</h3>
                <ul ng-repeat="ability in vm.pokemon.abilities">
                    <li>{{ability.ability.name}}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <h5>Stats:</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stats in vm.pokemon.stats">
                        <td>{{stats.stat.name}}</td>
                        <td>{{stats.base_stat}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>  
</div>